{% extends 'base.html.twig' %}

{% block title 'Warehouse Management System' %}


{% block body %}
	<div style="display:table">
		<div style="display:table-cell;">
			{{  include('layouts/partials/_sidebar.html.twig') }}
		</div>
		<div style="display:table-cell;">
			<h1 class="text-center">Dashboard</h1>
		</div>
	</div>

{% endblock %}
