{% extends 'base.html.twig' %}

{% block title 'Edit Category #' ~ category.id %}


{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">

			<h1>
				Edit category #{{ category.id }}</h1>

			{{ form_start(formEditCategories)}}

			{{ form_widget(formEditCategories)}}

			<input type="submit" value="Edit category" class="btn btn-primary">
			{{ form_end(formEditCategories)}}

		</div>
	</div>


{% endblock %}
