{% extends 'base.html.twig' %}

{% block title 'New Vehicle' %}


{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">

			<h1>
				Create Vehicle</h1>

			{{ form_start(formVehicles)}}

			{{ form_widget(formVehicles)}}

			<input type="submit" value="Create Vehicle" class="btn btn-primary">
			{{ form_end(formVehicles)}}

		</div>
	</div>


{% endblock %}
