{% extends 'base.html.twig' %}

{% block title 'Edit Vehicle #' ~ vehicle.id %}


{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">

			<h1>
				Edit vehicle #{{ vehicle.id }}</h1>

			{{ form_start(formEditVehicles)}}

			{{ form_widget(formEditVehicles)}}

			<input type="submit" value="Edit vehicle" class="btn btn-primary">
			{{ form_end(formEditVehicles)}}

		</div>
	</div>


{% endblock %}
